<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta name="charset" charset="utf-8">
        <meta name="viewport" content="width=device-width initial-scale=1">
        <meta name="auther" content="Void, Sai">
        <meta name="tags" content="Login Sign-Up Project">

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/user_input.css') }}">

        <title>Flask Project | {{ type }}</title>
    </head>
    <head>
        <h1>{{ type }}</h1>
        <div class="input-field">
            {% if type == "Login" %}
            <form action="{{ url_for('Auth.login') }}" method="post">
            {% elif type == "Sign Up" %}
            <form action="{{ url_for('Auth.sign_up') }}" method="post">
            {% endif %}
                <input type="text" name="Username" placeholder="Enter username here">
                <input type="text" name="Password" placeholder="Enter password here">
                <input type="submit" placeholder="Submit">
            </form>
        </div>
        <div class="nav-bar">
            <a href="/">Home Page</a>
        </div>
    </head>
</html>