<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta name="charset" charset="utf-8">
        <meta name="viewport" content="width=device-width initial-scale=1">
        <meta name="tags" content="User Homepage">
        <meta name="auther" content="Void, Sai">

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/user_home_page.css') }}">

        <title>Flask Project | {{ user_name }}'s Page</title>
    </head>
    <body>
        <div class="auth">
            <a href="auth/logout">Logout</a>
        </div>
    </body>
</html>
